#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#darkmode {
  display: flex;
  justify-content: center;
}

#darkmode .dark {
  background-color: #727c99;
}

#darkmode .checkbox {
  opacity: 0;
  position: absolute;
}

#darkmode .label {
  width: 38px;
  height: 14px;
  background-color: #1899D6;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

body.dark-mode {
  color: #f0f0f0;
  transition: all 0.5s ease-in-out;
}

body.dark-mode nav {
  background-color: #2F3E46;
}


body.dark-mode .projects-container,
body.dark-mode .aboutme-container,
body.dark-mode .contact-container {
  background-color: #2F3E46;
}

body.dark-mode .landing-container {
  background-color: #4785a7;
}

body.dark-mode .project-card,
body.dark-mode .aboutme-content,
body.dark-mode .repo-card {
  background-color: #243b55;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  color: #CAD2C5;
}

body.dark-mode .name-heading,
body.dark-mode .about-text p,
body.dark-mode .contact-intro p,
body.dark-mode .project-description,
body.dark-mode .repo-description {
  color: #CAD2C5;
}

body.dark-mode .button {
  background-color: #1899D6;
  color: #fff;
}