@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,bold,700bold,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  height: 100%;
  --steelblue: #415A77;
  --almostwhite: #f3f3f2;
  --darkerwhite: #c9c9c9;
  --grey: #7c7c7c;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #f0f0f0;
  transition: all 0.5s ease-in-out;
}
a {
  font-weight: 600;
  color: var(--steelblue);
  text-decoration: inherit;
}
a:hover {
  color: #5c7fa8;
}
li {
  list-style-type: none;
}

